# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.exe



# Debug files
*.dSYM/

# backup and gens
*.bak
blog/script/upload.js
logs/
public/
bak/
themes/bak
themes/casper/static_bak/